@import url("norm.css");

*
    {
        margin: 0px;
        padding: 0px;
    }

body
    {
        font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        color:#373F27;
        background-color:#373F27;
        background-image: url("images/pyahtzee_deco03.png");
        background-repeat: repeat;
    }

h1, h2, h3, h4, h5, h6
        {
            font-family: "Raleway", Verdana, Arial, Helvetica, sans-serif;
        }

h1
    {
        color:#373F27;
        text-align: center;
        font-size: 29px;
        margin-bottom: 0px;
    }

h2
    {
        color:#373F27;
        text-align: center;
        font-size: 24px;
        margin-bottom: 0px;
    }

h3
    {
        color:#373F27;
        text-align: center;
        font-size:13px;
        margin-top: 5px;
    }

h4
    {
        font-size: 18px;
        margin: 10px 0 3px 20px;
    }

h5
    {
        font-size: 13px;
        margin: 5px 0 3px 20px;
    }

p
    {
        padding: 10px;
        line-height: 1.38;
        margin-left: 10px;

    }

figure
    {
        float: left;
        margin: 12px 20px 10px 17px;
    }

figure a img
    {
        border-radius: 5px;
        border: 1px solid #202228;
    }

figure a:hover
        {
            color:#155765;
            -moz-transition: .3s ease-out;
            -webkit-transition: .3s ease-out;
            -o-transition: .3s ease-out;
            transition: .3s ease-out;
        }

figcaption
    {
        font-size: 10.5px;
        line-height: 15px;
        font-style: italic;
    }

figcaption a, figcaption a:visited, footer a, footer a:visited
    {
        color: #155765;
        text-decoration: none;
    }

hr
    {
        border: 0;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

#body a, #body a:visited
    {
        color: #155765;
    }

figcaption a:hover, #body a:hover
        {
            color:#000000;
            -moz-transition: .3s ease-out;
            -webkit-transition: .3s ease-out;
            -o-transition: .3s ease-out;
            transition: .3s ease-out;
        }

#backup
    {
        float: right;
        padding-right: 24px;
    }

#wrapper
    {
        margin: 0 auto;
        width: 1000px;
        background-color:#7f8f7c;
        box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.35), -10px 0px 15px 5px rgba(0, 0, 0, 0.35);
    }

#headerwrap
    {
        width: 1000px;
        float: left;
        margin: 0 auto;
    }

#navigation
    {
        font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 10px;
        height: 23px;
        background: #373F27;
        margin: 14px 0;
    }

#navigation ul
    {
        list-style-type: none;
        margin: -3px 0 10px 0;
        padding: 5px;
    }

#navigation li
    {
        display: inline;
    }

#navigation li a, #navigation li a:visited
    {
        font-weight: bold;
        font-size: 14px;
        color: #E9E7DA;
        padding: 10px 10px 15px 10px;
        text-decoration: none;
        -moz-transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in;
    }

#navigation li a:hover
    {
        color:#155765;
        background-color: #AB9353;
        -moz-transition: .3s ease-out;
        -webkit-transition: .3s ease-out;
        -o-transition: .3s ease-out;
        transition: .3s ease-out;
    }

#contentwrap
    {
        width: 1000px;
        float: left;
        margin: 0 auto;
    }

#content
    {
        background: #E3E7DA;
        border-radius: 5px;
        border: 1px solid #000000;
        margin: 15px 43px;
        padding: 1px 15px 24px 0px;
    }

#content2
    {
        margin: 15px 43px;
        padding: 10px 0px 10px 0px;
    }

#screenpen
    {
        padding: 10px 0px 0px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

#body
    {
        display: inline;
    }

#screenimg
        {
            float: left;
            margin: 10px 9px 10px 9px;
        }

#footerwrap
    {
        width: auto;
        margin: 0 auto;
        padding-bottom: 30px;
        clear: both;
    }

footer p
    {
        font-size: 10px;
        margin: 5px 52px 0px 50px;
        padding: 10px 0px 5px 7px;
    }

.minimenu
    {
        color: #373F27;
        font-size: 30px;
        margin: 2px 4px;
        text-decoration: none;
    }

input#minimenu[type=checkbox]
    {
        display: none;
    }

input#minimenu[type=checkbox]:checked ~ #navigation ul
    {
        display: block;
    }

/* ########## */
/* RESPONSIVE */
/* ########## */

/* Full screen and large browser */
@media (max-width: 2560px)
    {
        .minimenu, #minimenu
        {
            display: none;
        }
    }

/* small browser, iPads and tablets */
@media (max-width: 1024px)
    {
        #wrapper, #headerwrap, main, #contentwrap
        {
		    margin: auto;
            width: 100%;
	    }
    }

/* menu breakpoint */
@media (max-width: 945px)
    {
        .minimenu, #minimenu
            {
                display: block;
            }

        #navigation ul
            {
                position: absolute;
                list-style-type: none;
                margin: -123px 0px 0px -3px;
                padding: 7px;
                z-index: 1000;
                display: none;
            }

            #navigation li
                {
                    display: flex;
                    margin: -8px;
                    padding: 10px;
                    background-color: #373F27;

                }

            #navigation li a, #navigation li a:visited
                {
                    font-weight: bold;
                    font-size: 14px;
                    color: #E9E7DA;
                    padding: 10px 10px 15px 10px;
                    text-decoration: none;
                }

            #navigation li:hover
                {
                    background: #AB9353;
                }

                #navigation li a:hover
                    {
                        color: #373F27;
                        background: rgba(0,0,0,0.0)
                    }
    }

/* reflow breakpoint */
@media (max-width: 550px)
    {
        #artfig
            {
                padding: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                float: none;
                margin: 10px 0px -5px 0px;
            }

        figcaption
            {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
            }
    }

/* small phones - landscape */
@media (max-width: 490px)
    {
        #artfig a img
        {
            width: 245px;
            height: auto;
        }
    }

/* standard phones - portrait */
@media (max-width: 360px)
    {

    }

/* small phones - portrait */
@media (max-width: 320px)
    {

    }
